[display_status]
[pause_resume]

[gcode_macro G29]
gcode:
 BED_MESH_CLEAR
 G28
 BED_MESH_CALIBRATE
 BED_MESH_PROFILE SAVE=default

[gcode_macro retraction]
gcode:
    AUX_ON
    # # BLTOUCH_DEBUG COMMAND=reset
    # START_WEBCAMS
    # GCODE_AT_LAYER LAYER=3 COMMAND=STOP_NOZZLECAM
    RESPOND MSG="starting print"

    {% set EXTRUDER_GLASS = 120 %}
    {% set EXTRUDER_PREHEAT = 180 %}
    {% set BED_PREHEAT = params.BED_TEMP|int - 10 %}

    M104 S{params.EXTRUDER_TEMP} ; no wait
    M140 S{params.BED_TEMP} ; no wait
    RESPOND MSG="waiting for preheats"
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={EXTRUDER_GLASS} ; wait for extruder filament to be in soft state

    RESPOND MSG="homing axis"
    G21 ; set units to millimeters    
    G90 ; use absolute coordinates 
    M83 ; use relative distances for extrusion
    G28 ; home all axis

    G1 X10 Y200 Z0.3 F10000
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={params.EXTRUDER_TEMP}
    G91
    # 50mm/s -1
    G1 X150 E15 F3000
    G1 E-1
    G1 X100 Z5 F3000
    G1 Z-5 F3000
    G4 P1000
    G1 Z5
    G1 Z-5 X-250 Y-25
    # 50mm/s -2
    G1 X150 E15 F3000
    G1 E-2
    G1 X100 Z5 F3000
    G1 Z-5 F3000
    G4 P1000
    G1 Z5
    G1 Z-5 X-250 Y-25
    # 100mm/s -1
    G1 X150 E15 F6000
    G1 E-1
    G1 X100 Z5 F6000
    G1 Z-5 F6000
    G4 P1000
    G1 Z5
    G1 Z-5 X-250 Y-25
    # 100mm/s -2
    G1 X150 E15 F6000
    G1 E-2
    G1 X100 Z5 F6000
    G1 Z-5 F6000
    G4 P1000
    G1 Z5
    G1 Z-5 X-250 Y-25
    # 150mm/s -1
    G1 X150 E15 F9000
    G1 E-1
    G1 X100 Z5 F9000
    G1 Z-5 F9000
    G4 P1000
    G1 Z5
    G1 Z-5 X-250 Y-25
    # 150mm/s -2
    G1 X150 E15 F9000
    G1 E-2
    G1 X100 Z5 F9000
    G1 Z-5 F9000
    G4 P1000
    G1 Z5
    G1 Z-5 X-250 Y-25
    
    G1 Z100
    
    M400 # finish moves
    G90 # abslute coords
    G92 E0 # reset extruder

    

[gcode_macro CLEAN_NOZZLE]
gcode:
# should have conditionals to check extruder temperature and position
  # Use absolute coordinates
    G90
    # extruder temp
    RESPOND MSG="clean nozzle macro"
    M104 S{params.EXTRUDER_HOT} ; set extruder temp
    G1 X50 Y301 Z10 F5000 ; move to prime location
    # move to wipe zone start
    RESPOND MSG="waiting for extruder heat"
    G1 X35 F3000
    G1 Z4 F3000
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={params.EXTRUDER_HOT} ; wait for extruder to trigger
    M104 S{params.EXTRUDER_COOL} ; set extruder temp
    M106 S255
    
    # G1 X290 Y300 Z1 F1000 ; move to prime location
    # G92 E0 ; Reset Extruder
    # # Move the nozzle very close to the bed
    # G1 X280 Y305.5 Z0.3 F3000			 
    # # prime nozzle
    # G1 X125 F1500 E15
    # # fast wipe to release pressure
    # G1 X100 Z0.2 E-5 F3000.0

    G1 X0 Y301 Z10 # Move to wipe start LHS
    G1 Z2.5
    G91
    # wipe nozzle across X wile wiggling in Y
    G1 X10 Y4 F500
    G1 X10 Y-8 F500
    G1 X10 Y8 F500
    G1 X10 Y-8 F500
    G1 X-10 Y8 F500
    G1 X-10 Y-8 F500
    G1 X-10 Y8 F500
    G1 X-10 Y-8 F500
    G1 X10 Y8 F500
    G1 X10 Y-8 F500
    G1 X10 Y8 F500
    G1 X10 Y-8 F500
    G1 X-10 Y8 F500
    G1 X-10 Y-8 F500
    G1 X-10 Y8 F500
    G1 X-10 Y-8 F500
    G1 X10 Y8 F500
    G1 X10 Y-8 F500
    G1 X10 Y8 F500
    G1 X10 Y-8 F500
    G1 X-10 Y8 F500
    G1 X-10 Y-8 F500
    G1 X-10 Y8 F500
    G1 X-10 Y-4 F500
    # fast wipe
    G1 Z0.5
    G1 X80 Y2 F10000
    G1 X-80 Y-4 F10000
    G1 X80 Y4 F10000
    G1 X-80 Y-2 F10000
    G1 X100 F10000
  
    G90 # absolute coords
    M106 S0
    G1 Z10 F1500 # z hop to safe height



[gcode_macro PRINT_START]
gcode:
    AUX_ON
    # # BLTOUCH_DEBUG COMMAND=reset
    # START_WEBCAMS
    # GCODE_AT_LAYER LAYER=3 COMMAND=STOP_NOZZLECAM
    RESPOND MSG="starting print"

    {% set EXTRUDER_GLASS = 120 %}
    {% set EXTRUDER_PREHEAT = 180 %}
    {% set BED_PREHEAT = params.BED_TEMP|int - 10 %}

    M104 S{EXTRUDER_GLASS} ; no wait
    M140 S{params.BED_TEMP} ; no wait
    RESPOND MSG="waiting for preheats"
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={EXTRUDER_GLASS} ; wait for extruder filament to be in soft state

    RESPOND MSG="homing axis"
    G21 ; set units to millimeters    
    G90 ; use absolute coordinates 
    M83 ; use relative distances for extrusion
    G28 ; home all axis

    CLEAN_NOZZLE EXTRUDER_HOT={EXTRUDER_PREHEAT} EXTRUDER_COOL={EXTRUDER_GLASS}

    TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={BED_PREHEAT} ; wait for bed to reach preheat
    RESPOND MSG="calibrating bed mesh"
    EXCLUDE_OBJECT_DEFINE
    BED_MESH_CALIBRATE ADAPTIVE=1 ADAPTIVE_MARGIN=5 PROFILE="adaptive" 
    # BED_MESH_PROFILE LOAD="adaptive"
    G21 ; set units to millimeters
    G90 ; use absolute coordinates
    M83 ; use relative distances for extrusion
    G92 E0
    RESPOND MSG="done."
    RESPOND MSG="printing..."


    G1 X100 Y307 Z10 F1000 ; move to prime location
    G92 E0 ; Reset Extruder
    M83 ; use relative distances for extrusion
    # Move the nozzle very close to the bed
    G1 Z0.6 F3000
    
    G91 # relative coordinates
    M109 S{params.EXTRUDER_TEMP} # set extruder temp and wait
    G1 E25 F300
    G4 P1000
    G1 E-0.300 Z4 F500
    G1 X50 F9000
    G1 Z-4.300 F500
    G1 X35.000 E8.4 F1800
    G1 X35.000 E5.6 F1800
    G1 Y-1 E0.16 F1800
    G1 X-35.000 E5.6 F1800
    G1 X-35.000 E8.4 F1800
    G1 Y-1 E0.24 F1800
    G1 X35.000 E8.4 F1800
    G1 X35.000 E5.6 F1800
    G1 E-1.00 Z1 F600
    M400 # finish moves
    G90 # abslute coords
    
    G92 E0 # reset extruder

[gcode_macro PRINT_END]
gcode:
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    # Move nozzle away from print while retracting
    G91
    G1 X-2 Y-2 E-5 F500
    G1 Z25 F3000     # Raise nozzle
    G1 Z100 F3000     # Raise nozzle

    G90
    # G1 X280 Y300 F5000 ; present bed
    # Disable steppers
    M84
    AUX_OFF
    STOP_WEBCAMS