[heater_bed]
heater_pin: PA0
sensor_type: Kingroon_Calibrated B3950
sensor_pin: PC0
control: pid
pid_Kp: 68.483
pid_Ki: 1.654
pid_Kd: 708.794
min_temp: 0
max_temp: 110

[bed_screws]
#need calibration
screw1: 40, 40
screw2: 140,40
screw3: 140,140
screw4: 40,140