[extruder]
step_pin: PD6
dir_pin: !PD3
enable_pin: !PB3
full_steps_per_rotation: 200
microsteps: 32
rotation_distance: 8.1 # 7.955 #7.39815 #7.955
max_extrude_only_distance: 105
min_extrude_temp: 190
#max_extrude_cross_section: 99999

# BMG Extruder ->
# rotation_distance: 22.6789511
# gear_ratio = 50:17

nozzle_diameter: 0.4
filament_diameter: 1.750
heater_pin: PC3
sensor_type: Kingroon_Calibrated B3950
sensor_pin: PC1
control: pid
pid_Kp: 18.054
pid_Ki: 0.830
pid_Kd: 98.169
min_temp: -50
max_temp: 285
pressure_advance: 0.0455